.navbar-adm{
    background-color: #293a56;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 1rem;
}

.components{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.components > .logo-pln{
    width: 60px;
    height: auto;
    object-fit: contain;
}